.profile {
  display: block;
  margin: 50px auto;
  max-width: 350px;
  border-radius: 10px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
}

.description img {
  margin: auto;
  width: 150px;
  height: 150px;
  background-color: plum;
  border-radius: 50%;
}

.description {
  text-align: center;
  padding-top: 20px;
}

.name {
  font-size: 22px;
  font-weight: bold;
}

.tag,
.location,
.label {
  color: grey;
  font-size: 18px;
}

.label {
  padding-bottom: 5px;
}

.quantity {
  font-size: 18px;
  font-weight: bold;
}

.stats {
  display: flex;
  justify-content: space-around;
  height: 100px;
  background-color: rgb(247, 222, 225);
  border: 1px solid rgb(245, 201, 206);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.stats li {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 20px;
}

.stats li:nth-child(2) {
  width: 35%;
  border-left: 1px solid rgb(245, 201, 206);
  border-right: 1px solid rgb(245, 201, 206);
}
