.list {
  margin: 50px auto;
  width: 300px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;

  width: 100%;
  border-radius: 5px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
}

.status {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.online {
  composes: status;
  background-color: green;
}

.offline {
  composes: status;
  background-color: red;
}

.avatar {
  border-radius: 5px;
  background-color: bisque;
  padding: 5px;
}

.name {
  font-size: 18px;
  font-weight: bold;
}
